[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QTOCen"]
	path = QTOCen
	url = https://github.com/cran/QTOCen
[submodule "quantoptr"]
	path = quantoptr
	url = https://github.com/cran/quantoptr
